:root.black {
  --background: rgba(0, 0, 0, 0.8);
  --background1: black;
  --background2: rgba(255, 255, 255, 0.8);
  --font-color: white;
  --font-color1: #F65A83;
  --button-color: #B1B2FF;
  --button-color1: rgba(177, 178, 255, 0.5);
  --button-color2: #FF8FB1;
  --pink-color: pink;
}
